body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 12pt;
	background-image: url("../img/Fondo.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}


#general{
	margin: 0 auto;	
	background-color: rgba(204,178,141,0.8);
	height: 122px;
	border-radius:2px;
	box-shadow:0 0.6px 0.9px 0.6px;
	width: 80%;
	margin-bottom: 1em;
	margin-top: 0.5em;
	padding-top: 0.7em;
}

.iconos-header{
	color: rgb(155,47,47);
	/*color: rgb(195,52,52);*/
	font-size: 300%;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.iconos-header:hover{
	color: rgb(210,52,52); /* Green */
}

.quitar_a:hover{
	text-decoration: none;
}

.iconos
{
	background-image: url("../img/Fondo.png");
	box-shadow:0 0.1px 0.1px 0.1px;
	border-radius:4px;
	padding: 10px 2px 10px 2px;
	width: 160px;
	margin-top: 1em;
}

.logo_2{
	display: none;
}

@media (max-width: 1198px)
{
	#general{
		width: 90%;
	}
}

@media (max-width: 991px)
{
	#general{
		width: 100%;
	}
}
/*
@media (max-width: 767px)
{
	#general{
		width: 90%;
	}
	.iconos{
		margin-left: 4em;
	}
	.logoNombre{
	position: absolute;
	top: 20px;
	}
	#Celular{
		display: none;
	}

}

@media (max-width: 600px)
{

	.logoNombre{
		display: none;
	}

	.logo_2{
		display: block;
		width: 120px;
	}

	.iconos-header{
		font-size: 250%;
		-webkit-transition-duration: 0.0s; 
    transition-duration: 0.0s;
	}

	.iconos{
		width: 140px;
	}

	.columna2{
		padding-right: 0;
	}

	.iconos{
		margin-left: 0;
	}
}

@media (max-width: 350px)
{
	.iconos-header{
		font-size: 220%;
	}
	.iconos{
		width: 120px;
		margin-top: 1.5em;
	}
	.columna2{
		padding-left: 0;
	}
}

/*

/* ///////////////////////////////////////  HEADER PRINCIPAL //////////////////////////////////////////// */

button, .btn {
	background: #E19B9B;
	border: 1.2px solid #7D2D2D;
	border-radius: 8px;
	box-shadow:0 0.1px 0.1px 0.1px;
	color: #000000;
	
	line-height: 24px;
	padding: 0 10px;
	text-align: center;
	cursor:pointer; cursor: hand;
}
button:hover, .btn:hover{
	transition: .3s ease;
	background-color:#DA6262;
}

div.inicio{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 45px;
	padding: 10px 0px 10px 10px;
	border-radius:6px;
	box-shadow:0 0.3px 0.3px 0.3px;
	background-image: url("../img/Fondo3.png");
	height: auto;
	overflow: hidden;
	margin-left: 0;
	margin-right: 0;
	
}
div #fondo{
	margin: 0 auto;
	width: 96%;
	height: 50%;
	background-color: rgba(255,255,255,1);
	padding: 7px;
	box-shadow:0 0.1px 0.1px 0.1px;
	border-radius: 12px;
}
div #fondo img{
	width: 100%;
	height: 100%;
	border-radius: 14px;
}
div #perfil{
	float:left;
	position: relative;
	width: 30%;
	background-color: rgba(255,255,255,1);
	padding: 7px;
	box-shadow:0 0.1px 0.1px 0.1px;
	border-radius: 12px;
	margin: -20% 0 0 15px;
}
div #perfil img{
	width: 100%;
	height: 100%;
	border-radius: 14px;
}
div #info{
	display: none;
}

#Encabezado {
	clear: both;
	float: left;
	width: 30%;
	margin-left: 18px;
	margin-top: 4px;
	border-radius: 8px;
}
#Barra{
	float: right;
	position: relative;
	width: 100%;
	margin: -50% -10% 0 0;
}
#Nombre{
	float: left;
	background-color: rgba(255,240,240,0.9);
	padding: 4px 10px 4px 5px;
	margin-right: 5%;
	font-weight: bold;
	border-radius: 12px;
	color: #3971b3;
	font-size: 1.08em;
}
#Edad{
	float: left;
	background-color: rgba(255,240,240,0.9);
	padding: 4px 10px 4px 8px;
	border-radius: 12px;
	font-size: 1.08em;
	margin-right: 5%;
}
#Celular{
	float: left;
	background-color: rgba(255,240,240,0.9);
	padding: 4px 10px 4px 8px;
	border-radius: 12px;
	font-size: 1.08em;
}

#Configuracion{
	position: relative;
	width: 63%;
	background: rgba(204,178,141,0.8);
	border-radius: 8px;
	box-shadow:0 0.3px 0.3px 0.3px;
	padding: 10px 12px 10px 16px;
	margin-top: 10px;
	margin-right: 13px;
	margin-left: 35%;
	padding-top: 0;
	display: none;
}

.vamo{
	margin-top: -33px;
	margin-bottom: 1em;
}

.vamo2{
	margin-bottom: 1em;
}

#Configuracion #nombre{
	margin-right: 20px;
	margin-bottom: 8px;
}
#Configuracion #correo{
	width: 210px;
	margin-right: 2px;
}
#Configuracion #contra{
	width: 104px;
}
#Configuracion #celular{
	margin-right: 20px;
}
#Configuracion #fecha{
	margin-right: 24px;
}

@media (max-width: 767px)
{
	#general{
		width: 90%;
	}
	.iconos{
		margin-left: 4em;
	}
	.logoNombre{
	position: absolute;
	top: 20px;
	}
	#Celular{
		display: none;
	}

	#Encabezado {
	clear: both;
	width: 30%;
	margin-left: 40%;
	margin-top: -7%;
	border-radius: 8px;
	}

	#Configuracion{
	position: relative;
	width: 95%;
	background: rgba(204,178,141,0.8);
	border-radius: 8px;
	box-shadow:0 0.3px 0.3px 0.3px;
	padding: 10px 12px 10px 16px;
	margin-top: 10%;
	margin-right: 13px;
	margin-left: 0;
	padding-top: 0;
	}

	.vamo{
		margin-top: 1em;
	}

}

@media (max-width: 600px)
{

	.logoNombre{
		display: none;
	}

	.logo_2{
		display: block;
		width: 120px;
	}

	.iconos-header{
		font-size: 250%;
		-webkit-transition-duration: 0.0s; /* Safari */
    transition-duration: 0.0s;
	}

	.iconos{
		width: 140px;
	}

	.columna2{
		padding-right: 0;
	}

	.iconos{
		margin-left: 0;
	}

	#Edad{
		display: none;
	}
}

@media (max-width: 350px)
{
	.iconos-header{
		font-size: 180%;
	}
	.iconos{
		width: 100px;
		margin-top: 1.5em;
	}
	.columna2{
		padding-left: 0;
	}

	.vamo{
		width: 100%;
	}
	.vamo2{
		width: 100%;
	}
	.vamo3{
		width: 100%;
	}
}

@media (max-width: 450px)
{
	#Nombre{
		display: none;
	}

	div #info
	{
	display: block;
	width: 100%;
	text-align: center;
	color: #3971b3;
	font-weight: bold;
	}
}